* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(30, 30, 30);
  color: white;
}

.centered-box-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.main-container {
  width: 1000px;
  max-width: 90%;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -80%);
}

.word {
  font-size: 1.1rem;
}

.pronounciation {
  font-size: 0.75rem;
  padding: 0;
  margin-top: -0.5em;
  border-radius: 12px;
}
.pronounciation:hover {
  border: 1px solid rgb(89, 89, 89);
  background-color: rgb(89, 89, 89);
}

.pronounciation-playing {
  background-color: rgb(8, 126, 162) !important;
}
